html{
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(90deg, gray 0%, black 100%);
}

input[type=button], input[type=submit]{
    display: inline-block;
    width: auto; 
    height: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 70px auto 0px auto;
    cursor: pointer;
    font-size: 25pt;
    border-radius: 25pt;    
}
input[type=text]{
    font-size: large;
}
hr{
    width: 70%;
}
h1{
    display: inline-block;
    text-decoration: underline;
}
h2{
    display: inline-block;
}
output{
    font-size: 20pt;
}

.video-mask-calibration{
    width: 25%;
    border-radius: 20px; 
    overflow: hidden; 
    margin: 0 auto;
    margin-top: 100px;
    border: 5px solid blue;
}
.video-mask{
    width: 40%;
    border-radius: 20px; 
    overflow: hidden; 
    margin: 0 auto;
    margin-top: 100px;
}
.stop{
    background-color: red !important;
}
.start{
    background-color: #4CAF50 !important;
}
.calibrate{
    margin-left: 20px;
    background-color: blue !important;
    padding: 8px 24px !important;
    font-size: 15pt !important;
}
.generate{
    margin-left: 20px;
    background-color: orange !important;
    padding: 8px 24px !important;
    font-size: 15pt !important;
}
.remove{
    margin-left: 20px;
    background-color: red !important;
    padding: 8px 24px !important;
    font-size: 15pt !important;
}
.upload{
    margin-left: 20px;
    background-color: blueviolet !important;
    padding: 8px 24px !important;
    font-size: 15pt !important;
}


.hide{
    display: none;
}
.show{
    display: block;
}







